body{
    padding-top: 50px;
}
.wrapper{
	background-color: #ddd;
	min-height: 100vh;
}
.main{
	padding-top: 80px;
}

.card{
	box-shadow: 0 4px 5px rgba(0,0,0,0.3);
	border-radius: 4px;
	background-color: #ffffff;
	overflow: hidden;
}

.table{
	width: 100%;
    border-collapse: collapse;
    font-size: 15px;
}
.table th, .table td{
	line-height: 24px;
	padding: 12px;
	text-align: center;
}
.table tr{
	transition: all 0.2s;
}
.table tr:hover{
	background-color: #cccccc;
}
.table th{
	background-color: #4287f5;
	color: #fff;
}