.itemList {
  font-size: 16pt;
  font-weight: bold;
}

.itemList .title {
  margin-top: 25px;
}

.itemList_sub {
  font-size: 12pt;
  font-weight: normal;
  color: #666;
}

.itemList_sub li {
  margin-top: 5px;
  margin-bottom: 5px;
}

.itemList_sub a {
  color: #666;
  text-decoration: underline;
}

.itemList_sub .subtitle {
  color: #333;
  margin-top: 15px;
  font-size: 12pt;
  font-weight: bold;
}

.row .border {
  margin: 5px;
}
