/* index */
.imageHeader{
    background-size: 100%;
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
  }
  
  .wrapper {
    display: block;
    position: relative;
    width: 100%;
    margin: 0;
    padding: 0;
    text-align: left;
    word-wrap: break-word;
  }
  
  #pageintro {
    padding: 10vh 0px;
  }
  
  #pageintro article{
    padding: 20px 30px;
    width: 100%;
    background-color: rgba(33,33,33,0.6);
    color: #fff;
  }