html, body{
    overflow-x: hidden;
}


body{
    font-family: arial,"Microsoft JhengHei","微軟正黑體",sans-serif !important;
    padding-top: 70px;
    padding-bottom: 20px;
}
.wrapper{
	background-color: #ddd;
	min-height: 100vh;
}
.card{
	padding: 16px;
	background-color: #fefefe;
    box-shadow: 0 3px 30px rgba(0,0,0,0.3);
    margin-bottom: 10px;
}

#logo{
    width:60%;
    padding-top: 20px;
    display:block; 
    margin:auto;
}

a{
    font-weight: bold;
    font-size: 18px;
}
button{
    padding-right: 15px;
}

form{
    margin-left: 10px;
    margin-top: 10px;
    width: 95%;
}
label{
    text-align: left;
}


.btn-info{
    width: 100px;
    border-radius: 18px !important;
    background-color: rgb(255, 123, 0, 0.8) !important;
    border-color: rgb(255, 123, 0, 0.8) !important;

}
.btn-info:hover, .btn-info:active, .btn-info:visited {
    width: 100px;
    border-radius: 18px !important;
    background-color: rgba(255, 123, 0) !important;
    border-color: rgb(255, 123, 0) !important;
}

.btn-success{
    width: 150px;
    border-radius: 18px !important;
    margin:5px;
    
}
.btn-success:hover, .btn-success:active, .btn-success:visited {
    /* width: 150px; */
    border-radius: 18px !important;
}

.btn-danger{
    width: 150px;
    border-radius: 18px !important;
}
.btn-danger:hover, .btn-danger:active, .btn-danger:visited {
    /* width: 150px; */
    border-radius: 18px !important;
}

.btn-primary{
    width: 100px;
    border-radius: 18px !important;
    background-color: rgb(84, 187, 0) !important;
    border-color: rgb(84, 187, 0, 0.8) !important;
    
}
.btn-primary:hover, .btn-primary:active, .btn-primary:visited {
    width: 100px;
    border-radius: 18px !important;
    background-color: rgba(84, 187, 0) !important;
    border-color: rgb(84, 187, 0) !important;
}
.bottom{
    margin-top: 10px;
    display: block;
    text-align:center!important
}
.with-errors{
	color: red;
	font-size: 12px;
}
.nav-tabs > li > a.nav-link {
    /* background-color: #303136 !important; */
    border: medium none;
    border-radius: 0;
    color:rgb(83, 83, 83);
}
.nav-tabs > li > a.active{
    background-color: #d5dbfa !important;
    border: medium none;
    border-radius: 0;
    color:#fff;
}
/* .nav-tabs > li > a:hover{
    background-color: #303136 !important;
    border: medium none;
    border-radius: 0;
    color:#fff;
} */