.show_table{
	overflow-x: auto;
}
.table{
	width: 90%;
	table-layout:fixed;
	font-size: 15px;
	text-align: center;
}
.table th{
	width: 120px;
	height:20px;
}
.table td{
	line-height: 24px;
	word-wrap:break-word;
	white-space: nowrap;
}
.table tr{
	transition: all 0.2s;
}
.table tr:hover{
	background-color: #cccccc;
}
.table tr a{
	font-size: 15px;
}
.table th{
	background-color: #4287f5;
	color: #fff;
	white-space: nowrap;
}
.no-records-found{
	display: none;
}
h4{
	padding: 12px;

}

.addRedStar:after {
    content: '*';
    color: red;
    font-size: 18px;
}
